<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Micro_Finance.Properties.Settings.ConnectionString"
            connectionString="Data Source=THEARA_PC\SQLSERVER;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString"
            connectionString="Data Source=THEARA_PC\SQLSERVER;Initial Catalog=dbMicro_Finance;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString1"
            connectionString="Data Source=PC;Initial Catalog=dbMicro_Finance;User ID=sa;Password=master123"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString2"
            connectionString="Data Source=PC;Initial Catalog=dbMicro_Finance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString3"
            connectionString="Data Source=ASUS\SQLSERVER;Initial Catalog=dbMicro_Finance;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString4"
            connectionString="Data Source=AEC-PC\SQLSERVER;Initial Catalog=dbMicro_Finance;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString5"
            connectionString="Data Source=PC001;Initial Catalog=dbMicro_Finance;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString6"
            connectionString="Data Source=THEARA;Initial Catalog=dbMicro_Finance;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Micro_Finance.Properties.Settings.dbMicro_FinanceConnectionString7"
            connectionString="Data Source=THEARA-PC\THEARA;Initial Catalog=dbMicro_Finance;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>